$destacado1: #FF8000;
$destacado2: #2E5F64;

div {
    padding: 20px;
}

#primero {
    .destacado {
        color: $destacado1;
        font-size: 1.6rem;
        text-align: center;
        padding: 6px;
    }
}
#segundo {
    p::first-line {
        font-style: italic;
    }
    .destacado {
        color: $destacado2;
        font-size: 1.4rem;
        text-decoration: underline;
        padding: 5px;
    }
    div {
        text-align: right;
    }
}