h1, h2, #tagline, .date {
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
    color: orangered;
}

#nav li {
    display: inline;
}
#nav li a:hover {
    border: 6px dashed darkviolet;
}
#nav * {
    padding: 5px;
}

.post {
    border: 1px dashed #CCCCCC;
}