#box {
    border: 5px dotted red;
    /* La caja encoje cuando se le elimina el grosor del borde y crece al devolvérselo */
    margin: 10px;
    padding: 10px; 
    /* Al duplicar el padding se ha aumentado la distancia entre el texto y los bordes de la "caja", aumentando su tamaño,
     al dejarlo a cero ha pasado justo lo contrario, haciendo que la caja se vuelva más delgada */
    background: gray;
}

body {
    margin: 2px;
    border: 1px solid blue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}